.nav-wrapper {
  display: flex;
  justify-content: center;
  background: rgb(198, 33, 40);
  background: radial-gradient(
    circle,
    rgba(198, 33, 40, 1) 0%,
    rgba(160, 0, 0, 1) 100%
  );
}

// #music {
//   display: none;
// }
