@import url(https://fonts.googleapis.com/css?family=Audiowide);

::-moz-selection {
  background: #cc0000;
  text-shadow: none;
}

::selection {
  background: #cc0000;
  text-shadow: none;
}

* {
  box-sizing: border-box;
  cursor: default;
  outline: none;
}

.sign-in-container {
  min-height: calc(100vh - 170px);
}

form {
  border-radius: 0.4em;
  bottom: 0;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
  height: 100%;
  left: 0;
  margin: auto;
  overflow: hidden;
  right: 0;
  top: 0;
  width: 300px;
}

.inset {
  padding: 20px;
  background-color: #fff;
}

form h1 {
  font-family: "Audiowide";
  border-bottom: 1px;
  box-shadow: 0 0.1px 10px 4px rgb(0 0 0 / 20%);
  font-size: 18px;
  padding: 15px 0;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 0 #000;
}

input[type="text"],
input[type="password"] {
  background: linear-gradient(#6b6b6c00, #dfe1e300);
  border-color: rgba(0, 0, 0, 0);
  border-radius: 0.3em;
  box-shadow: 0 5px 10px 5px rgb(0 0 0 / 20%);
  font-size: 13px;
  padding: 8px 5px;
  width: 100%;
}

label[for="remember"] {
  color: #bbb;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  vertical-align: top;
  padding: 0 0 0 5px;
}

.p-container {
  padding: 0 20px 20px;
  background-color: #fff;
}

input[type="submit"] {
  background: linear-gradient(#6b6b6c00, #dfe1e300);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0.3em;
  box-shadow: 0 5px 10px 5px rgb(0 0 0 / 20%);
  color: #873c00;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  height: 40px;
  padding: 5px 20px;
  width: 100%;
}

.question {
  color: #fff;
  padding-bottom: 0.5em;
}
