/* You can add global styles to this file, and also import other style files */
html {
  background: rgb(198, 33, 40);
  background: radial-gradient(
    circle,
    rgba(198, 33, 40, 1) 0%,
    rgba(160, 0, 0, 1) 100%
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}

.pointer-cursor {
  cursor: pointer !important;
}

.mat-form-field {
  width: 100%;

  &-appearance-outline {
    .mat-form-field {
      &-outline {
        display: none !important;
      }

      &-flex {
        padding: 0 0.75em 0 0 !important;
      }
    }
  }

  &-wrapper {
    padding-bottom: 0.6em;
  }
}

.mat-error {
  margin-top: 0.6em;
}
